body{margin: 0;
  background-color: #333333
}
.App{ font-family: "Calibri", sans-serif;
  font-weight: 200;
  width: 900px;
  margin: 0 auto;
}
.header{
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.naw{
  display: flex;
  width: 250px;
  justify-content: space-between;
  list-style: none;

}
.select{
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid white;
}
.navlink{
  text-decoration: none;
  color: gray;
  font-size: 20px;
}
.naw>li>a:hover{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.cover{
  color: white;
}
.naw>li{
  padding-top: 12px;
}

.home,.features{
  text-align: center;
  width: 480px;
  margin:100px  auto;
  color: white;

}
.home>h1{
  font-size: 45px;
}
.features>h1{
  font-size: 45px;
}


.coveris,.featuresis{
  font-size:18px ;
}

.home>button{
  width: 120px;
  height: 40px;
  text-align: center;
  color: black;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
}
.buttons{
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin:  auto;
}
.buttons>button{
  width: 120px;
  height: 40px;
  text-align: center;
  color: black;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
}
